<div class="page-header">
  <h1>
    <%= t.name %> 
  </h1> 
  <%= rating_for t %>
  <br />
  <% if t.categories.any? %>
    <p><%= render t.categories %></p>
  <% end %>
</div>
<p><%= t.description %></p>
<h4 class="no-black-hover">
  <%= link_to "<i class='fa fa-envelope'></i> Contact".html_safe, 
                contact_path(id: t.id),
                title: 'Contact' %> 
</h4> 
<hr />
<% if @user_review.count == 0  %>
  <h4 class="no-black-hover">
    <a id="write_review" href="#"><i class="fa fa-pencil"></i> Write review</a>
  </h4>
  <div class="new_review">
    <h3>New Review</h3>
    <%= form_tag({:controller => "reviews", :action => "create"}, {:method => "post", :class => "form-horizontal"}) do %>
      <div class="row col-md-12">
        <%= label_tag 'name', 'Title' %>
        <%= text_field_tag(:title, "", class:'form-control' ) %>
      </div> 
      <div class="row col-md-12">
        <%= label_tag 'name', 'Review' %>
        <%= text_area_tag(:review, "", class:'form-control' ) %>
      </div> 
      <%= hidden_field_tag(:tenant, t.id ) %>
      <%= hidden_field_tag(:user, current_user.id ) %>
      <br />
      <div class="row col-md-12 buttons">
        <%= submit_tag "Save".html_safe, class: "btn btn-primary", id:"submit" %>
        <a id="cancel_review" href="#" class = 'btn btn-default'>Cancel review</a>
      </div>
    <% end %>
  </div>
<br />
<% end %>

<% if @reviews.count > 0 %>
  <h3>Reviews</h3>
  <%= will_paginate  @reviews %>
    <%= render 'tenants/reviews', obj: @reviews %>
  <%= will_paginate  @reviews %>
<% end %> 
  

