<%- model_class = Status -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-status">
  <thead>
   <!-- <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr> -->
  </thead>
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td style="background-color: <%= status.color %>">
          <h4>
             <%= link_to status.name, edit_tenant_status_path(status, tenant_id: status.tenant_id) %> 
          </h4>
        </td>
        <td style="background-color: <%= status.color %>">
          <h5>
             <%= link_to pluralize(status.products_with_status.count, "product"), tenant_status_products_path(status_id: status.id, tenant_id: status.tenant_id) %>
          </h5>
        </td>
        <!-- <td><%=l status.created_at %></td> 
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tenant_status_path(status, tenant_id: status.tenant_id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>-->
        <td>
          <h4 class="status-delete">
            <%= link_to 'x',
                      tenant_status_path(status, tenant_id: status.tenant_id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
          </h4>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tenant_status_path,
            :class => 'btn btn-primary' %>
