<% if current_user && !current_user.is_admin? %>
  <% if @tenants.size > 0 %>
    <% @tenants.each do |t| %>
      <h3><%= t.name %></h3>
      
    <% end %>
  <% end %>
<% elsif current_user && current_user.is_admin? %>
  <% @products.each do |p| %>
    <h2><%= link_to p.code, product_path(p.id) %></h2>
    <% user = User.find(p.user_id) %>
    <small><%= user.email %></small>
  <% end %>
<% else %>
  <div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
        <h2>Free Plan</h2>
        <div class="price pull-right">
          Price: Free
        </div>
        <div class="features">
          <ul>
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>500 customers</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up' %>
        </p>
      </div>
      <div class="col-lg-3 plan">
        <h2>Premium Plan</h2>
        <div class="price pull-right">
          Price: $10
        </div>
        <div class="features">
          <ul>
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited customers</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>
  </div>
<% end %>