<%- model_class = Product -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @product.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expected_completion_date) %>:</strong></dt>
  <dd><%= @product.expected_completion_date.strftime("%d.%m.%Y") %></dd>
  <dt><strong>Current status:</strong></dt>
  <dd><%= @product.current_status.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @product.comments %></dd>
</dl>
<% if @product_statuses.count > 0 %>
<h4>History</h4>
<table class="table table-striped">
  <tbody>
    <% @product_statuses.each do |product_status| %>
      <tr style="background-color: <%= product_status.status.color %>">
        <td><%= product_status.status.name %></td>
        <td><%= product_status.created_at.strftime("%d.%m.%Y %I:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr />
<% if @estimates.count > 0 %>
<h4>Estimate</h4>
<table class="table">
  <tbody>
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Value</th>
    </thead>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.name %></td>
        <td><%= estimate.quantity %></td>
        <td><%= estimate.price %></td>
        <td><%= estimate.quantity*estimate.price %></td>
      </tr>
    <% end %>
    <tr>
      <th></th>
      <th></th>
      <th>Total: </th>
      <th><%= @product.estimated_value %></th>
    </tr>
  </tbody>
</table>
<% end %>