<%- model_class = Product -%>
<% if params[:debug].present? %>
  <%= stylesheet_link_tag 'application' %>
<% else %>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> Card</h1>
</div>

<%= render 'show' %>
<hr />
<footer class="footer">
    <div class="container no-black-hover">
      <span class="text-muted">FixIT &copy; <%= Date.today.year %></span>
    </div>
</footer>

