<%- model_class = Product -%>
<% if params[:debug].present? %>
  <%= stylesheet_link_tag 'application' %>
<% else %>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
<% end %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> 
               <span class="pdf-download">
                 <%= link_to "<i class='fa fa-download'></i> ".html_safe, 
                    tenant_product_path(@product, tenant_id: @product.tenant_id, format: :pdf),
                    title: 'Download' %>
                </span>
  </h1> 
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @product.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expected_completion_date) %>:</strong></dt>
  <dd><%= format_date(@product.expected_completion_date) %></dd>
  <dt><strong>Current status:</strong></dt>
  <dd><%= @product.last_status.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @product.comments %></dd>
</dl>
<% if @statuses.count > 0 %>
<h4>History</h4>
<table class="table table-striped">
  <tbody>
    <% @statuses.each do |status| %>
      <tr style="background-color: <%= status.color %>">
        <td><%= status.name %></td>
        <td><%= format_date_time(status.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<hr />
<% if @estimates.count > 0 %>
<h4>Estimate</h4>
<table class="table">
  <tbody>
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Value</th>
    </thead>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.name %></td>
        <td><%= estimate.quantity %></td>
        <td><%= estimate.price %></td>
        <td><%= estimate.quantity*estimate.price %></td>
      </tr>
    <% end %>
    <tr>
      <th></th>
      <th></th>
      <th>Total: </th>
      <th><%= @product.estimated_value %></th>
    </tr>
  </tbody>
</table>
<% end %>
<hr />
<%= link_to t('.back', :default => t("helpers.links.back")),
              tenant_products_path(@product, tenant_id: params[:tenant_id]), :class => 'btn btn-default'  %>
<% if current_user.is_admin %>              
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_tenant_product_path(@product, tenant_id: params[:tenant_id]), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                tenant_product_path(@product, tenant_id: params[:tenant_id]),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
